<!DOCTYPE html>
<html>
<head>
  <title>Reservation Successful</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }
    .container {
      background-color: #ffffff;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      padding: 20px;
      text-align: center;
    }
    a {
      display: inline-block;
      margin-top: 20px;
      padding: 10px;
      background-color: #4CAF50;
      color: #ffffff;
      text-decoration: none;
      border-radius: 3px;
    }
    a:hover {
      background-color: #45a049;
    }
  </style>
</head>
<body>
  <div class="container">
    <h2>Reservation Successful</h2>
    <p>Your reservation has been successfully submitted.</p>
    <h3>Reservation Details:</h3>
    <ul>
      <li><strong>Date:</strong> <%= reservation.date %></li>
      <li><strong>Time:</strong> <%= reservation.time %></li>
      <li><strong>Department:</strong> <%= reservation.department %></li>
      <li><strong>Contact:</strong> <%= reservation.contact %></li>
      <li><strong>Location:</strong> <%= reservation.location %></li>
      <li><strong>Event Start Time:</strong> <%= reservation.eventStartTime %></li>
      <li><strong>PR5000 Time:</strong> <%= reservation.pr5000Time %></li>
      <li><strong>Note:</strong> <%= reservation.note %></li>
      <li><strong>Re-entry:</strong> <%= reservation.reentry %></li>
      <li><strong>Population Limit:</strong> <%= reservation.populationLimit ? 'Yes' : 'No' %></li>
      <% if (reservation.populationLimit) { %>
        <li><strong>Population Description:</strong> <%= reservation.populationDesc %></li>
      <% } %>
      <li><strong>Number of Scanners:</strong> <%= reservation.scanners %></li>
    </ul>
    <a href="/reservation" class="button-like-link">Make Another Reservation</a>
    <% if (isAdmin) { %>
      <a href="/reservations" class="button-like-link">View All Reservations</a>
    <% } %>
  </div>
</body>
</html>
